<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    <add key="avalonia-all" value="https://nuget-feed-all.avaloniaui.net/v3/index.json"/>
    <add key="xpf" value="https://xpf-nuget-feed.avaloniaui.net/v3/index.json" />
    <add key="xpf-all" value="https://nuget.avaloniaui.net/repository/upf-all-test-feed/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <xpf>
      <add key="Username" value="license" />
      <add key="ClearTextPassword" value="AQAAAEcAAAAfiwgAAAAAAAAKY2JgYPgPBVyOZYk5+XmZiaGeUex6wkAZMGACYvbyzLyU/PJi1tzE5PxiRpBIeGpSWGZqOQCdtJtgQQAAAEcAAAAwRQIgCrk/cvFHIW7VOfMV1yyrV8QT889F+KXLlS8zh/cdUncCIQCZ8XNQHR29En1gEGg5mJAE5PWcShhAKqaepJRqDY36Vg==" />
    </xpf>
  </packageSourceCredentials>
</configuration>
